/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  /* Style du formulaire */
  form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type="text"]:focus,
  input[type="date"]:focus {
    border-color: #66cc66;
    outline: none;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="reset"] {
    background-color: #f44336;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  button:focus {
    outline: none;
  }
  